body {
    background-image: url('dark_wood.png');
}

p {
    color: white; 
    font-weight: bold; 
    font-family: "Arial";
    text-align: center;
}

span {
    color: palevioletred; 
    font-weight: bold; 
    font-family: "Arial";
    text-align: center;
    font-size: 40px; 
    text-shadow: 2px 2px red;
}

h3 {
    color: #FFBC00; 
    font-size: 40px; 
    font-family: "Passion One"; 
    text-align: center;
    margin-bottom: 0px;
    text-shadow: 2px 2px black;
}

a {
    color: white; 
    font-weight: bold; 
    font-size: 24px; 
    text-decoration-style: wavy;
    text-decoration-color: yellow;
    text-shadow: 2px 2px black;
}


ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

#Header {
    width: 500px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
    border-radius: 20px;
}

#Header h1{ 
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold; 
    text-shadow: 2px 2px black;
}


#LeftNav {
    margin-bottom: 10px;
    text-align: center;
	padding-bottom: 8px;
    float: left;
    width: 400px;
    border: solid 8px black;
    background-color: #8E41D5;
    border-radius: 20px;
}

img{
    border-radius: 20px;
    position: center;
    opacity: 0.7;
}


#Content {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 700px;
    border: solid 8px black;
    background-color: #8E41D5;
    padding: 15px;
    border-radius: 20px;
}


#Footer{
    border: solid 8px black;
    background-color: #8E41D5;
    border-radius: 20px;
}
